.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background: #0d1117;
  color: white;
//   flex: 1;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  border-bottom: 1px solid #222;
}

.messages {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
}

.otherMsg {
  background: #30363d;
  padding: 10px 14px;
  width: fit-content;
  border-radius: 10px;
  margin-bottom: 10px;
}

.myMsg {
  background: #1f6feb;
  padding: 10px 14px;
  width: fit-content;
  margin-left: auto;
  border-radius: 10px;
  margin-bottom: 10px;
}

.inputBox {
  display: flex;
  gap: 10px;
  padding: 20px;
  border-top: 1px solid #222;

  input {
    flex: 1;
    padding: 14px;
    border-radius: 8px;
    outline: none;
    border: none;
    background: #30363d;
    color: white;
  }

  button {
    padding: 14px 20px;
    border: none;
    border-radius: 8px;
    background: #1f6feb;
    color: white;
    cursor: pointer;
  }
}
