@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  box-sizing: border-box;
  text-decoration: none;
  /* outline: 1px solid blue; */
}
body {
  background-color: #141527;
  color: #fff;
}
.container {
  max-width: 1480px;
  width: 100%;
  margin: 0 auto;
  padding: 0 80px;
  @media (max-width: 1534px) {
    max-width: 1200px;
  }
  @media (max-width: 1200px) {
    max-width: 1024px;
  }
  @media (max-width: 1024px) {
    max-width: 768px;
    padding: 0 40px;
  }
  @media (max-width: 768px) {
    max-width: 640px;
  }
  @media (max-width: 640px) {
    max-width: 475px;
    padding: 0;
  }
  @media (max-width: 475px) {
    max-width: 350px;
    padding: 0;
  }
}

h1 {
}
h2 {
}
h3 {
}
h4 {
}
h5 {
}

p,
a {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
  transition: border-bottom 1s ease-in;
}

button {
  padding: 7px 14px;
  border-radius: 5px;
  border: none;
  transition: 0.7s;
}

button:hover {
  transform: scale(1.02);
}
